.button-deleted {
    background-color: rgba(255, 0, 0, 0.5) !important;
    color: white !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    border: none !important;
    margin-top: 10px !important;
    margin-top: auto !important
}

.boton-add {
    background-color: #78ecdc !important;
    color: #FFFFFF !important;
    font-family: 'Comic Sans MS', cursive !important;
    padding: 8px 16px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-top: 10px !important;
}

.rounded-container {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}

.custom-col {
    width: 14rem !important;
    margin-bottom: 10px !important;
}

.custom-card {
    width: 200px !important;
    height: 400px !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    overflow-y: auto !important;
}

.custom-card-img {
    width: 100% !important;
    height: 180px !important;
    object-fit: cover !important;
}

.custom-card-title {
    margin-bottom: 0.5rem !important;
}