.offcanvas {
    left: unset !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;

}

.offcanvas-backdrop {
    background-color: transparent !important;
}

.custom-toast .btn-close {
    display: none
}

.offcanvas {
    left: unset !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;

}

.offcanvas-backdrop {
    background-color: transparent !important;
}

.custom-toast .btn-close {
    display: none
}

.button- {
    background-color: #78ecdc !important;
    color: #FFFFFF !important;
    padding: 4px 16px !important;
    border: none !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    margin-top: 10px !important;
}

.force-scroll {
    overflow-y: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

.force-scroll::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.force-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

h4 {
    font-weight: 200 !important;
}

h5 {
    font-weight: 200 !important;
}

.my-link {

    font-weight: 100;
    color: #FF7B4D;
}

.volver-link {
    text-decoration: none;
    color: #60BFB2;
}

.link-evento {
    color: #60BFB2;
    text-decoration: underline;
    font-size: larger;
}