.my-navlink {
    color: black !important;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black !important;

    margin-right: 10px;
    ;
}