.Navbar {
    z-index: 20 !important;
}

.my-navlink {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-right: 10px;
    ;
}