.button-deleted {
    background-color: rgba(255, 0, 0, 0.5) !important;
    color: white !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    border: none !important;
    margin-top: 10px !important
}

.boton-add {
    background-color: #60BFB2 !important;
    color: #000000 !important;
    font-family: 'Comic Sans MS', cursive !important;
    padding: 8px 16px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-top: 10px !important;
}